// colors
$body-bg: #f6f6f6;
$color: #000000;
$bord-cl: #5486ca;


$mainFontSizeTitle: 24px;
$FontSizeMini: 10px;
//fonts
//$font-secondary-bold:
$font-oswald-bold: 'Oswald', sans-serif;
$font_Open-Sans: 'Open Sans', sans-serif;


//media variables
$screen-desktop: 835px;
$screen-tablet: 684px;
$screen-mobile: 402px;